.navbar-custom{
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #212224;
}

.logo{
    position: relative;
    bottom: 2px;
    margin-right: 8px;
}

.title{
    color: black;
    font-family: Monsterra;
    letter-spacing: 0.1em;
}