.navbar-custom{
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #212224;
    font-family: "Ligth";
    /* margin-bottom: 50px; */
    height: 48px;
}

.logo{
    position: relative;
    bottom: 2px;
    margin-right: 8px;
}

.title{
    letter-spacing: 0.1em;
}

.language-icon{
    position: relative;
    bottom:3px;
    margin-right: 8px
}

@media (max-width: 1000px){
    .menu{
        background-color: #212224;
        padding: 16px;
        position: relative;
        top: 16px;
        transition: 50ms;
        border: 1px solid #A68E52;
        color: #ffffff;
    }
}
