.content{
    width: 98.9vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Montserrat';
}

.izq-alt{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.big-text{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #212224;
    margin: 0px;
    transition: 250ms;
}

.big-text:hover{
    text-decoration: none;
    font-size: 80px;
    transition: 250ms;
}

.der-alt{
    padding-top: 48px;
    text-align: center;
    padding: 30px;
    width: 40%;
    background-color:#212224;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}

.vector-contact{
    height: 112px;
    border: 0.5px solid #A68E52;
}

.contact-title{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-bottom: 24px;
}

.btn-contact{
    width: 50%;
    height: 32px;
    border: 2px solid #A68E52;
    box-sizing: border-box;
    border-radius: 6px;
    color: #A68E52;
    background-color: #212224;
    margin-top: 24px;
}

.text-form{
    position: relative;
    top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #C4C4C4;
}

.ligth {
    color: #A68E52;
}